header {
    padding: 10px;
    .img{
        text-align: center;
        img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: black 5px solid;
            &:hover{
                border: red solid;
            }
        }
    }
    h1{
        text-align: center;
        color: blue;
    }
    h3{
        font-weight: normal;
        font-style: italic;
        text-align: center;
        .remarcar{
            font-weight: bold;
            color: green;
            &:hover{
                color: purple;
            }
        }
    }
    .banerr{
    border-radius: 0;
}
}
